body {
  background-color: darkturquoise;
  text-align: center;
}

#homepage{
  margin-Top: 5%;
  margin-Left: 5%;
  margin-Right: 5%;
  opacity: 77%;
  display:grid;
  grid-template-columns: 45% 55%;
  grid-auto-rows: minmax(auto);
  text-align: center;
}

#tabs{
  border-Left:solid;
  padding: 10%;
}

button{
  background-color: darkturquoise;
}

#form{
    width: 50%;
    padding: 3%;
    height: 250px;
  }

#input{
  margin-Left: 2%;
  margin-Right: 2%;
  text-align:center; 
  padding: 6%;
}

#img{
  margin-Top: 5%;
  margin-Left: 5%;
  width: 50%;
  animation-name: milk;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes milk {
  0% {
    border-radius: 50% 50% 50% 0;
    transform: rotateY(180deg);
    transition-delay: 1s;
  }
  100% {
    border-radius: 50% 50% 50% 0;
  }
}

.react-tabs__tab {
  padding-right: 20% !important;
}

.bg-primary {
  margin-bottom : 10px;
}

h2 {
  color : blue;
  text-shadow: 3px 2px blueviolet;
}